/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  height: 100%;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  width: 100%;
}

.amiibo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 600px; /* Limita el ancho de las tarjetas */
}

.amiibo-info {
  flex: 1;
  text-align: left; /* Alinea el texto a la izquierda */
  display: flex;
  flex-direction: column; /* Para apilar el texto verticalmente */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.amiibo-image {
  height: auto; /* Mantiene la proporci칩n de la imagen */
  margin-left: 20px; /* A침ade margen entre el texto y la imagen */
  max-height: 100%; /* Ajusta la altura m치xima al 100% del contenedor */
  object-fit: contain; /* Mantiene la proporci칩n de la imagen dentro de su contenedor */
}

/* Para asegurar que la imagen tome la misma altura que el texto */
.amiibo-card {
  align-items: stretch; /* Asegura que el contenedor de imagen tenga la misma altura que el de texto */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  overflow-y: auto;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li p {
  margin: 5px 0;
  color: #333;
}
