/* Estilos globales */
/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  height: 100%;
  overflow: auto;
}

/* Contenedor principal para centrar el contenido */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
  width: 100%;
}

.amiibo-card {
  display: flex; /* Hacemos flex para alinear elementos */
  justify-content: space-between; /* Espacio entre texto y la imagen */
  align-items: center; /* Centrar verticalmente los elementos */
  border: 1px solid #ccc; /* Borde alrededor de la tarjeta */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno */
  margin-bottom: 10px; /* Espacio entre las tarjetas */
}

.amiibo-info {
  flex: 1; /* Permitir que el contenedor de texto ocupe el espacio disponible */
}

.amiibo-image {
  max-width: 100px; /* Ancho máximo de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
}

/* Mantener el encabezado y el campo de búsqueda fijos en la parte superior */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #f4f4f9;
  padding: 10px 0;
  z-index: 10;
}

/* Encabezado centrado */
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el input de búsqueda y botón */
input {
  padding: 10px;
  width: 300px; /* Tamaño del campo de búsqueda */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  margin-left: 10px; /* Añade margen izquierdo al botón */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Lista de resultados */
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  overflow-y: auto;
}

/* Asegurarse de que la lista pueda desplazarse si es extensa */
ul {
  max-height: 70vh; /* Ajusta el tamaño máximo visible de la lista */
  overflow-y: auto;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Texto dentro de los items */
li p {
  margin: 5px 0;
  color: #333;
}